
<%
        if current_ma_user.role.upcase.split(',').include?("A")
            note= Note.all.desc(:created_at)
else
    note= Note.where(user: current_ma_user).desc(:created_at)
end
%>
<div class="field" data-role="fieldcontain">
    <%= label_tag :email %>
    <br>
    <br>
    <%= text_field_tag :email, @identity.try(:email) %>
</div>
<div class="field" data-role="fieldcontain">
    <%= label_tag :title, 'Select Note' , :class => "ui_input_text" %>
    <br>
    <br>
    <%= select_tag :id, options_from_collection_for_select(note, :id, :title), "notee-menu"=>"false" %>
