
<%
  if current_ma_user.role.upcase.split(',').include?("A")
    note= Jinda::Doc.all.desc(:created_at)
  else
    note= Jinda::Doc.where(user: current_ma_user).desc(:created_at)
  end
%>
<div class="field" data-role="fieldcontain">
  <%= label_tag :filename, 'Select Document' %>
  <br>
  <br>
  <%= select_tag :id, options_from_collection_for_select(note, :id, :filename), "notee-menu"=>"false" %>
</div>
