- head = login? ? current_ma_user.code : DEFAULT_HEADER
%nav.navbar.jinda-header
  .container-fluid
    / Mobile menu toggle
    %button.navbar-toggler.d-md-none{"aria-controls" => "jindaOffcanvas", "aria-label" => "Toggle navigation", "data-bs-target" => "#jindaOffcanvas", "data-bs-toggle" => "offcanvas", "type" => "button"}
      %span.navbar-toggler-icon
    / Title
    %h1.mb-0= head
