- head = login? ? current_ma_user.code : DEFAULT_HEADER
%nav.nav.flex-column
  / Home link
  %a.nav-link{:href => "/jinda"} 
    %i.fa.fa-home
    Home
  
  / Dynamic menu from modules
  = render :partial => "layouts/bootstrap/menu_mm"
  
  / User actions
  - if login?
    %a.nav-link{:href => "/jinda/pending"}
      %i.fa.fa-tasks
      Pending Tasks
    %a.nav-link{:href => logout_path, "data-turbolinks" => "false"}
      %i.fa.fa-sign-out
      Sign Out
  - else
    %a.nav-link{:href => new_session_path}
      %i.fa.fa-sign-in
      Sign In
    %a.nav-link{:href => new_identity_path}
      %i.fa.fa-user-plus
      Sign Up
  
  / Refresh link
  %a.nav-link{:href => "#", :onclick => "window.location.replace('/')"}
    %i.fa.fa-refresh
    Refresh
  
  / Social login buttons (if not logged in)
  - if !login?    
    .login-box
      = link_to image_tag('facebook-continue-button.png'), '/auth/facebook', rel: "external", class: "facebook-connect social-button" 
      = link_to image_tag('google-continue-button.png'), '/auth/google_oauth2', rel: "external", class: "google-connect social-button"
