- if @cache
  - cache = {}
- else
  - cache = {"data-cache"=>"never"}
- if @backbtn
  - backbtn= {"data-backbtn"=>"true"}
- else
  - backbtn= {"data-backbtn"=>"false"}
.container-fluid.jinda-content
  .row
    .col-12
      - if @title
        %h2.mb-4= @title
      = yield

:javascript
  document.title= "#{@title || DEFAULT_TITLE}";
