- if @cache
  - cache = {}
- else
  - cache = {}
- if @backbtn
  - backbtn= {}
- else
  - backbtn= {}
%main.py-3
  .container-fluid
    %div.row
      .col-md-9.ms-sm-auto.px-md-4
        %h1.mb-3= @title || DEFAULT_TITLE
        = yield

:javascript
  document.title= &quot;#{@title}&quot;;