/= From https://makandracards.com/makandra/689-know-your-haml-comments

!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - for article in @articles
   %url
     %loc #{article_url(article)}
     %lastmod=article.updated_at.strftime('%Y-%m-%d')
     %changefreq monthly
     %priority 0.5