#tooltip{
  position:absolute;
  border:1px solid #333;
  background:#f7f5d1;
  padding:2px 5px;
  color:#333;
  display:none;
}
#notice {
  color: #F90609;
  background-color: #EBD1D1;
  font-weight: bolder;
  padding-left: 10px;
}
.step {
  /*display: table-row;*/
  margin-top: 20px;
  margin-bottom: 20px;
}
.steps_more {
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  color: white;
  width: 80px;
  height: 80px;
  background:url(images/button_blue.png) no-repeat;
  display: table-cell;
  text-align:center;
}
.step_now {
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  color: white;
  width: 80px;
  height: 80px;
  background:url(images/button_red.png) no-repeat;
  display: table-cell;
  text-align:center;
}
.steps_done {
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  color: white;
  width: 80px;
  height: 80px;
  background:url(images/button_black.png) no-repeat;
  display: table-cell;
  text-align:center;
}
.sign_in {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
  display: block;
  
}

#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.module-table{
  display: grid;
}
