<h1>Mindmap Editor - Load</h1>
<p>Transaction ID: <%= @xmain.xid %></p>
<div id="jsmind_container" style="height: 600px; width: 100%; border: 1px solid #ccc;"></div>
<script src="https://cdn.jsdelivr.net/npm/jsmind@0.7.4/dist/jsmind.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsmind@0.7.4/dist/jsmind.css">
<script>
  // Load initial mindmap data (convert XML to JSON via Rails helper or AJAX)
  // For now, placeholder
  var options = {
    container: 'jsmind_container',
    editable: true,
    theme: 'primary'
  };
  var jm = new jsMind(options);
  // TODO: Fetch initial data from /mindmap_editor/load
  jm.show({
    meta: { name: 'index', author: 'Jinda', version: '1.0' },
    data: { 'id': 'root', 'topic': 'Jinda App', 'children': [] }
  });
</script>
<%= link_to 'Next: Save', { action: 'run', id: @xmain.id, step: @runseq.rstep + 1 }, method: :post %>